/**************************** Estilos General*********************************/

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}

article {
    margin-bottom: 150px;
}

#footer {
    width: 100%;
    margin-top: 80px;
    background-color: #CCCCCC;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/**************************** Estilos Navbar*********************************/

.navbar-brand img {
    width: 60px;
    height: 55px;
}

.navbar-nav {
    font-size: 16px;
    font-weight: bold;
}

.navbar-brand {
    font-size: 20px;
}

nav, .navbar-default {
    background-color: #CCCCCC;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li {
    border-bottom: 3px solid transparent;
}

.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    border-bottom: 3px solid transparent;
    background: none;
}

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle {
    color: #fff;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
    border-bottom: #C4E17F 3px solid;
}

.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
    border-bottom: #F7FDCA 3px solid;
}

.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
    border-bottom: #FECF71 3px solid;
}

.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
    border-bottom: #F0776C 3px solid;
}

.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
    border-bottom: #DB9DBE 3px solid;
}

.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
    border-bottom: #C49CDE 3px solid;
}

.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
    border-bottom: #669AE1 3px solid;
}

.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
    border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #fff;
}

/**************************** Estilos Carrusel Presentacion*********************************/

.carousel-inner> .item> img {
    width: 100%;
}

.carousel-caption h3 {
    text-shadow: 2px 2px #000000;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #000000;
}

.titulo {
    font-size: 38px;
    position: relative;
    z-index: 4;
}

.subtitulo {
    font-size: 16px;
    position: relative;
    z-index: 4;
}

.main-text button {
    position: relative;
    z-index: 4;
}

.cuadro {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    height: 140px;
    z-index: 0;
    border-radius: 10px;
}

/**************************** Estilos Botones Redes Sociales*********************************/

#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.social-ins:hover {
    color: #000000;
}
